<course-header [titleText]="title" [sideNavDrawer]="drawer"></course-header>

<course-sidenav (setDrawer)="setSideNav($event)">
  <ng-template #contentTemplate>
<!--    <pre>{{products | json}}</pre>-->
<!--    <pre>{{products$ | async | json}}</pre>-->


    <mat-form-field appearance="legacy">
      <mat-label>Search products</mat-label>
      <input matInput placeholder="search text" (input)="search($event)">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>


    <mat-grid-list cols="4" rowHeight="500" *ngIf="products$ | async as products; else loader">
      <mat-grid-tile *ngFor="let product of products | productsFilter: searchTerm; odd as isOdd">
        <course-product-card [product]="product" [isOdd]="isOdd"></course-product-card>
      </mat-grid-tile>
    </mat-grid-list>

    <ng-template #loader>
      <div class="loader-container">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </ng-template>
</course-sidenav>
