<course-header [titleText]="title" [sideNavDrawer]="drawer"></course-header>

<course-sidenav (setDrawer)="setSideNav($event)">
  <ng-template #contentTemplate>
    <ul class="list">
      <li>Option1</li>
      <li>Option2</li>
    </ul>
    <div>My content</div>
  </ng-template>
<!--  <ul class="list" #el>-->
<!--    <li>Option1</li>-->
<!--    <li>Option2</li>-->
<!--  </ul>-->
  <div>My content</div>
</course-sidenav>

<!--<div>{{getSalary() + '$'}}</div>-->
<!--<div>{{user}}</div>-->
<!--<img [src]="imgSrc" [alt]="title" [style.width.%]="imgWidth">-->

<!--<div [innerHTML]="content">-->
<!--</div>-->

<!--<input type="text" #inputElement (input)="search($event, inputElement)">-->
